.padSquare {
    background-color: var(--VirtualLaunchpad-padColor);
    margin: 2px;
    border-radius: 4px;

    width: var(--VirtualLaunchpad-padSize);
    height: var(--VirtualLaunchpad-padSize);
}

.padRow {
    width: auto;
    height: auto;
    text-align: center;
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
}